<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nashville Software School</title>
  </head>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="index.html">View Music</a></li>
      <li role="presentation"><a href="add.html">Add Music</a></li>
      <li role="presentation"><a href="#">Fight Me</a></li>
    </ul>
  </nav>
  <body ng-app="SongsApp" ng-controller="SongCtrl">
    <div id="cont" class="container-fluid">
      <div id="rowEq" class="row row-eq-height">
        <!-- <div class="col-xs-2 side">
          <div class="dropdown btm-marg">
            <select  ng-model="theSong" ng-options="value.artist for value in songs" style="width:100%">
              Artist
              <option>--</option>
            </select>
            
          </div>
          <div class="dropdown btm-marg">
            <select  ng-model="theSong" ng-options="value.album for value in songs" style="width:100%">
              Album
              <option>--</option>
            </select>
            Add your own music!
            <div>
              Song: <input type="text" ng-model="newName">
            </div>
          </div>
          <div>
            Album: <input type="text" ng-model="newAlbum">
          </div>
          <div>
            Artist: <input type="text" ng-model="newArtist">
          </div>
          <button ng-click="addSong()">Add Song</button>
        </div> -->
        

        <div class="col-xs-12 main" ng-view>
          <section >

          </section>
        </div>
      </div>
    </div>


    <script src="lib/bower_components/jquery/dist/jquery.js"></script>
    <script src="lib/bower_components/angular/angular.js"></script>
    <script src="lib/bower_components/angular-route/angular-route.js"></script>
    <script src="lib/bower_components/firebase/firebase.js"></script>
    <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>

      
    <script src="app/app.js"></script>
    <script src="app/filters/capitalize.js"></script>
 <!-- <script src="app/filters/sort.js"></script> -->
    <script src="app/controllers/SongCtrl.js"></script>
    <script src="app/controllers/SongFormCtrl.js"></script>
    <script src="app/controllers/SongDetailCtrl.js"></script>
    <script src="app/factories/song-storage.js"></script>
    <script src="app/factories/simple-storage.js"></script>
  </body>
</html>